@import "mirotone/dist/styles.css";
@import "@chatscope/chat-ui-kit-styles/dist/default/styles.min.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
}

#root {
  width: 100%;
  overflow: auto;
  padding: var(--space-medium);
  padding-top: 0;
  max-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.full-height {
  height: 100%;
}

.cs-message-list {
  max-height: 88vh;
}

.cs-message.cs-message--outgoing.cs-message--single:not(:first-child),
.cs-message-list .cs-message.cs-message--outgoing,
.cs-message-list .cs-message-group.cs-message-group--outgoing {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.recommendation-template {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.recommendation-template > img {
  scale: 1.2;
}

.recommendation-template > div:first-of-type {
  margin-top: 18px;
  font-size: medium;
  font-weight: bold;
}

.recommendation-template > a.button {
  margin: 9px 0;
  justify-content: center;
}
